.task {
  //   min-height: 200px;
  //   width: 500px;
  display: flex;
  //   justify-content: center;
  flex-direction: column;
  //   min-width: 20vw;
  //   min-width: 400px;
  //   align-items: center;
}

.status {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //   padding: 10px;
}

.taskStatusDims {
  padding: 5px;
}

button {
  max-width: 150px;
}

.selected {
  border: 1px solid black;
  padding: 0.2px;
}

.taskItem {
  width: 20px;
  padding: 5px;
}
